---
Checks:          '
    bugprone-*,
    clang-analyzer-*,
    cppcoreguidelines*,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    modernize*,
    -modernize-use-trailing-return-type,
    performance*,
    readability*,
    '

WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
    AllowSoleDefaultDtor: true
    # readability-identifier-naming
    readability-identifier-naming.NamespaceCase: lower_case
    readability-identifier-naming.StructCase: CamelCase
    readability-identifier-naming.ClassCase: CamelCase
    readability-identifier-naming.EnumCase: CamelCase
    readability-identifier-naming.EnumConstantCase: UPPER_CASE
    readability-identifier-naming.MemberCase: camelBack
    readability-identifier-naming.ParameterCase: camelBack
    readability-identifier-naming.VariableCase: camelBack
    readability-identifier-naming.FunctionCase: CamelCase
    readability-identifier-naming.MethodCase: CamelCase
    readability-identifier-naming.FunctionIgnoredRegexp: 'to_json|from_json|to_string'
    readability-identifier-naming.MethodIgnoredRegexp: 'to_json|from_json|to_string'
...
