name: Release Python

on:
  push:
    branches: [release/*]

jobs:
  publish-pypi:
    name: Publish PyPI Package
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.13"
          version: "0.9.20"

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish
