name: Release Python

on:
  push:
    branches: [release/*]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: Release
    permissions:
      id-token: write
    defaults:
      run:
        working-directory: python
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Show Python version
        run: python --version

      - name: Build package
        run: |
          python -m pip install build twine
          python -m build
          twine check --strict dist/*

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: python/dist
