name: test-python
defaults:
  run:
    working-directory: python

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - python/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - python/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-python:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        python-version:
          - '3.12'
          - '3.11'
          - '3.10'
          - '3.9'
          - '3.8'
          - 'pypy-3.8'

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Show Python version
        run: python --version
      - name: Install Python package dependencies
        run: |
          python -m pip install -U pip setuptools wheel
          pip install -U -r requirements.txt
          pip install -e .
      - name: Run tests
        run: pytest

      - name: run acceptance tests
        run: make acceptance
        working-directory: python
