name: test-codegen

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-codegen:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          dotnet-version: '9.0.x'

      - name: install berp
        run: |
          dotnet tool update Berp --version 1.6.0 --tool-path ~/bin
          echo "~/bin" >> $GITHUB_PATH

      - name: generate code for all languages
        run: |
          make clean-gherkin-languages
          make copy-gherkin-languages
          
          make clean-generate
          make generate

      - name: check the repo is still clean after generation
        run: |
          git status --porcelain
          git diff HEAD
          [ -z "$(git status --porcelain)" ]
