name: test-dart

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - dart/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - dart/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-dart:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: install dart
        uses: dart-lang/setup-dart@a57a6c04cf7d4840e88432aad6281d1e125f0d46 # v1.4

      - name: run tests
        run: dart test
        working-directory: dart
