name: test-perl

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-perl:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: install cpanm and multiple modules
        uses: perl-actions/install-with-cpanm@v1
        with:
          cpanfile: "perl/cpanfile"

      - name: run tests
        run: |
          prove -l
          AUTHOR_TESTS=1 prove -l
        working-directory: perl

      - name: run make
        run: |
          make
        working-directory: perl