name: test-ruby

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test-ruby:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ruby: ['2.6', '2.7', '3.0', '3.1', '3.2']
        include:
          - os: macos-latest
            ruby: '3.2'

    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          working-directory: ruby

      - run: bundle exec rake
        working-directory: ruby

      - run: make acceptance
        working-directory: ruby
