name: test-elixir

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - elixir/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - elixir/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-elixir:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
        with:
          otp-version: '27.1'
          elixir-version: '1.17'
      - run: |
          mix deps.get
        working-directory: elixir

      - run: mix test
        working-directory: elixir

      - name: run acceptance tests
        run: make acceptance
        working-directory: 'elixir'
