name: test-perl

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - perl/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - perl/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-perl:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        perl-version:
          - "5.14"
          - "5.36"

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Perl environment
        uses: shogo82148/actions-setup-perl@b6cfc127f1b0a63ac98797800f641494d80f42f8 # v1.37.1
        with:
          perl-version: ${{ matrix.perl }}
          install-modules-with: cpanm
          working-directory: perl

      - name: run tests
        run: make test
        working-directory: perl

      - name: run acceptance tests
        run: make acceptance
        working-directory: perl
