name: test-python
defaults:
  run:
    working-directory: python

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - python/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - python/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-python:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
    defaults:
      run:
        working-directory: python
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
          version: "0.9.29"

      - name: Lint code
        run: uv run pre-commit run --all-files

      - name: Run tests
        run: uv run --no-editable coverage run -m pytest

      - name: Run acceptance tests
        run: make acceptance

      - name: Build package
        run: uv build
