name: test-c

on:
  push:
    branches:
      - main
      - renovate/**
    paths:
      - c/**
      - testdata/**
      - .github/**
  pull_request:
    branches:
      - main
    paths:
      - c/**
      - testdata/**
      - .github/**
  workflow_call:

jobs:
  test-c:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: run acceptance tests
        run: make acceptance
        working-directory: c
